<nav class="side-nav">
    <section id="js-sidenav-dropdown" class="side-nav__dropdown">
        <ul>
          <li><a href="https://docsv2.dwolla.com/#introduction">Introduction</a></li>
          <li><a href="https://docsv2.dwolla.com/#oauth">OAuth</a></li>
          <li><a href="https://docsv2.dwolla.com/#customers">Customers</a></li>
          <li><a href="https://docsv2.dwolla.com/#documents">Documents</a></li>
          <li><a href="https://docsv2.dwolla.com/#sources">Funding Sources</a></li>
          <li><a href="https://docsv2.dwolla.com/#transfers">Transfers</a></li>
          <li><a href="https://docsv2.dwolla.com/#events">Events</a></li>
          <li><a href="https://docsv2.dwolla.com/#subscriptions">Webhook Subscriptions</a></li>
          <li><a href="https://docsv2.dwolla.com/#webhooks">Webhooks</a></li>
        </ul>
    </section>
</nav>