<section class="steps-nav" {% unless page.url contains '/guides/receive-money' %}style="display:none"{% endunless %}>
    <h6>Follow the steps</h6>
    <ol>
        <li>
            <a href="/guides/receive-money" {% if page.guide.step == 'overview' %}class="active"{% endif %}>Overview</a>
            <div class="dot"></div>
            <ol>
                <li>
                    <a href="/guides/receive-money/01-white-label-onboarding.html" {% if page.guide.step == '1a' %}class="active"{% endif %}>Option 1: White label</a>
                    <div class="dot"></div>
                </li>
                <li>
                    <a href="/guides/receive-money/01-direct-onboarding.html" {% if page.guide.step == '1b' %}class="active"{% endif %}>Option 2: Dwolla Direct</a>
                    <div class="dot"></div>
                </li>
            </ol>
        </li>
        <li>
            <a href="/guides/receive-money/02-check-transfer.html" {% if page.guide.step == '2' %}class="active"{% endif %}>Check transfer status</a>
            <div class="dot"></div>
        </li>
    </ol>
</section>