<section class="steps-nav">
    <h6>Follow the steps</h6>
    <ol>
        <li>
            <a href="/guides/sandbox-setup" {% if page.guide.step == 'overview' %}class="active"{% endif %}>Overview: send money to your users</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/sandbox-setup/01-create-master-account.html" {% if page.guide.step == '1' %}class="active"{% endif %}>Create a master Sandbox account</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/sandbox-setup/02-create-child-account.html" {% if page.guide.step == '2' %}class="active"{% endif %}>Create a child Sandbox account</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/sandbox-setup/03-create-application.html" {% if page.guide.step == '3' %}class="active"{% endif %}>Create an application</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/sandbox-setup/04-enable-sdk-sandbox-mode.html" {% if page.guide.step == '4' %}class="active"{% endif %}>Enable Sandbox mode</a>
            <div class="dot"></div>
        </li>
    </ol>
</section>