<section class="steps-nav" {% unless page.url contains '/guides/transfer-money-between-users' %}style="display:none"{% endunless %}>
    <h6>Follow the steps</h6>
    <ol>
        <li>
            <a href="/guides/transfer-money-between-users" {% if page.guide.step == 'overview' %}class="active"{% endif %}>Overview: transfer money between your users</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/transfer-money-between-users/01-access-token.html" {% if page.guide.step == '1' %}class="active"{% endif %}>Generate an access token</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/transfer-money-between-users/02-create-verified-customer.html" {% if page.guide.step == '2' %}class="active"{% endif %}>Create a verified customer</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/transfer-money-between-users/03-attach-unverified-bank.html" {% if page.guide.step == '3' %}class="active"{% endif %}>Attach an unverified funding source</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/transfer-money-between-users/04-create-unverified-customer.html" {% if page.guide.step == '4' %}class="active"{% endif %}>Creating an unverified Customer</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/transfer-money-between-users/05-attach-verified-bank.html" {% if page.guide.step == '5' %}class="active"{% endif %}>Attach a verified funding source</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/transfer-money-between-users/06-create-transfer.html" {% if page.guide.step == '6' %}class="active"{% endif %}>Create a transfer</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/transfer-money-between-users/07-check-transfer.html" {% if page.guide.step == '7' %}class="active"{% endif %}>Check the status of your transfer</a>
            <div class="dot"></div>
        </li>
    </ol>
</section>