<div class="header__primary">
    <div class="page-wrap">
        <div>
            <a href="/" class="logo icon-logo-dwolla-white">Dwolla</a>
            <div class="hamburger">
                <a href="http://dwolla.com/register">Sign Up</a>
                <a class="btn primary js-hamburger">Menu</a>
            </div>
        </div>
        <nav class="js-hamburger-nav">
            <a href="https://www.dwolla.com/about">Product</a>
            <a href="/">API</a>
            <a href="https://www.dwolla.com/contact?b=nav">Contact sales</a>
            <a href="http://dwolla.com/login">Log in</a>
            <a class="btn primary" href="http://dwolla.com/register">Sign up</a>
        </nav>
    </div>
</div>