<div class="code-snippet js-code-snippet language-raw"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-raw" data-lang="raw">
curl -X POST -H "Authorization: Bearer 9aeXPRcDKWBcJOyhxNPEuLiWDMXH0Un3zJaX7jHdw4HNYn1ew2" \
-H "Content-Type: application/vnd.dwolla.v1.hal+json" \
-H "Accept: application/vnd.dwolla.v1.hal+json" \
-d '{
  "_links": {
      "destination": {
          "href": "https://api-uat.dwolla.com/funding-sources/9044855b-19a2-48ce-b7bc-6ac854f15d08"
          
      },
      "source": {
          "href": "https://api-uat.dwolla.com/funding-sources/50ec201b-0663-4a16-b394-49e397ec2c50"
      }
  },
  "amount": {
      "currency": "USD",
      "value": "99.00"
  },
  "metadata": {
      "foo": "bar",
      "baz": "boo"
  }
}' https://api-uat.dwolla.com/transfers
</code></pre></div></div><div class="code-snippet js-code-snippet language-ruby"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-ruby" data-lang="ruby"><span class="c1"># No example for this language yet.</span>
</code></pre></div></div><div class="code-snippet js-code-snippet language-javascript"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-javascript" data-lang="javascript"><span class="c1">// No example for this language yet.</span>
</code></pre></div></div><div class="code-snippet js-code-snippet language-python"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-python" data-lang="python"><span class="c"># No example for this language yet.</span>
</code></pre></div></div><div class="code-snippet js-code-snippet language-php"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-php" data-lang="php">// No example for this language yet.
</code></pre></div></div>