<div class="code-snippet js-code-snippet language-raw"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-raw" data-lang="raw">
curl -X POST -H "Authorization: Bearer elq7kponDPk4iT5DUllTIHL5H5vhZCORKLQ6aB3jfkfSnqSNw6" \
-H "Content-Type: application/vnd.dwolla.v1.hal+json" \
-H "Accept: application/vnd.dwolla.v1.hal+json" \
-d '{
    "_links": {
        "destination": {
            "href": "https://api-uat.dwolla.com/funding-sources/929e1066-3ad0-4799-9f0d-30121f71375d"
            
        },
        "source": {
            "href": "https://api-uat.dwolla.com/funding-sources/617c9d7f-84a8-4e1b-8bb5-831db7fde136"
        }
    },
    "amount": {
        "currency": "USD",
        "value": "9.00"
    },
    "metadata": {
        "foo": "bar",
        "baz": "boo"
    }
}' 'https://api-uat.dwolla.com/transfers' -v
</code></pre></div></div><div class="code-snippet js-code-snippet language-ruby"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-ruby" data-lang="ruby"><span class="c1">
require 'dwolla_swagger'

transfer_request = {
      "_links" => {
        "destination" => {
            "href" => "https://api-uat.dwolla.com/funding-sources/929e1066-3ad0-4799-9f0d-30121f71375d"
        },
             "source" => {
            "href" => "https://api-uat.dwolla.com/funding-sources/617c9d7f-84a8-4e1b-8bb5-831db7fde136"
        }
    },
      "amount" => {
        "currency" => "USD",
           "value" => "9.00"
    },
    "metadata" => {
        "foo" => "bar",
        "baz" => "boo"
    }
}

xfer = DwollaSwagger::TransfersApi.create({:body => transfer_request})
p xfer # => https://api-uat.dwolla.com/transfers/d76265cd-0951-e511-80da-0aa34a9b2388
            </span>
</code></pre></div></div><div class="code-snippet js-code-snippet language-javascript"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-javascript" data-lang="javascript"><span class="c1">
            This one's you Gordon
            </span>
</code></pre></div></div><div class="code-snippet js-code-snippet language-python"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-python" data-lang="python"><span class="c">import dwollaswagger

transfer_request = {
    "_links": {
        "destination": {
            "href": "https://api-uat.dwolla.com/funding-sources/929e1066-3ad0-4799-9f0d-30121f71375d"
            
        },
        "source": {
            "href": "https://api-uat.dwolla.com/funding-sources/617c9d7f-84a8-4e1b-8bb5-831db7fde136"
        }
    },
    "amount": {
        "currency": "USD",
        "value": "9.00"
    },
    "metadata": {
        "foo": "bar",
        "baz": "boo"
    }
}

transfers_api = dwollaswagger.TransfersApi(client)
xfer = transfers_api.create(body=transfer_request)

print(xfer) # => https://api-uat.dwolla.com/transfers/d76265cd-0951-e511-80da-0aa34a9b2388</span>
</code></pre></div></div><div class="code-snippet js-code-snippet language-php"><button class="btn alternative">copy</button><div class="code-snippet__selector">
              <nav>
                  <button class="selector_switch" id="raw">curl</button>
                  <button class="selector_switch" id="php">php</button>
                  <button class="selector_switch" id="ruby">ruby</button>
                  <button class="selector_switch" id="python">python</button>
                  <button class="selector_switch" id="javascript">javascript</button>
              </nav>
            </div><div class="code-snippet__cnt highlight"><pre style="text-align: left;"><code class="language-php" data-lang="php">
<?php
$transfer_request = array (
  '_links' => 
  array (
    'destination' => 
    array (
      'href' => 'https://api-uat.dwolla.com/funding-sources/929e1066-3ad0-4799-9f0d-30121f71375d',
    ),
    'source' => 
    array (
      'href' => 'https://api-uat.dwolla.com/funding-sources/617c9d7f-84a8-4e1b-8bb5-831db7fde136',
    ),
  ),
  'amount' => 
  array (
    'currency' => 'USD',
    'value' => '9.00',
  ),
  'metadata' => 
  array (
    'foo' => 'bar',
    'baz' => 'boo',
  ),
);

$transferApi = new DwollaSwagger\TransfersApi($apiClient);
$myAccount = $transferApi->create($transfer_request);

print($xfer); # => https://api-uat.dwolla.com/transfers/d76265cd-0951-e511-80da-0aa34a9b2388
?>
</code></pre></div></div>