<nav class="header__secondary js-two-col-nav-toggle">
    <div class="page-wrap">
        <a href="/guides/" class="active">Guides</a>
        <a href="/reference/">Reference</a>
        <a href="/pages/api-docs.html">API Docs</a>
        <a href="/pages/sdks.html" class="no-nav js-two-col-no-toggle">SDKs</a>
        <div class="custom-select custom-select--blue">
            <select name="select" id="select">
                <option value="json">json</option> 
                <option selected="" value="php">php</option>
                <option value="ruby">ruby</option>
                <option value="python">python</option>
                <option value="node.js">node.js</option>
            </select>
            <div class="arrow"></div>
        </div>
    </div>
</nav>