<section>
  <!-- Begin MailChimp Signup Form -->
  <h3>Get API Updates</h3>

  <form action="//dwolla.us3.list-manage.com/subscribe/post?u=bd010d6cd015c558a27b4a232&amp;id=4e85ae585c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <ul class="fields-list js-infield-label">
        <li>
            <label for="mce-EMAIL">Email address</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
        </li>
        <li>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_bd010d6cd015c558a27b4a232_4e85ae585c" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe to emails" name="subscribe" id="mc-embedded-subscribe" class="btn secondary"></div>
          </div>
        </li>
    </ul>
  </form>

</section>