<section class="reach-out">
    <section class="reach-out__link">
        <h3>Get answers</h3>
        <a href="" class="icon-developer-community">Developer community</a>
    </section>
    <section class="reach-out__social">
        <h3>Stay in touch</h3>
        <a href="" class="icon-social-twitter"></a>
        <a href="" class="icon-social-facebook"></a>
        <a href="" class="icon-social-github"></a>
    </section>
    <section>
        <h3>Get API updates</h3>
        <ul class="fields-list js-infield-label">
            <li>
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </li>
            <li>
                <input type="submit" class="btn secondary" value="Subscribe to emails">
            </li>
        </ul>
    </section>
</section>