<section class="reach-out">
    <section class="reach-out__link">
        <h3>Get answers</h3>
        <a href="" class="icon-developer-community">Developer community</a>
    </section>
    <section class="reach-out__social">
        <h3>Stay in touch</h3>
        <a target="_blank" href="https://twitter.com/dwolla" class="icon-social-twitter"></a>
        <a target="_blank" href="https://www.facebook.com/dwolla" class="icon-social-facebook"></a>
        <a target="_blank" href="https://github.com/Dwolla/developer-portal" class="icon-social-github"></a>
    </section>
    {% include newsletter-signup.html %}
</section>