<nav class="side-nav {% if page.url contains '/guides/' or page.url contains '/resources/' %}active{% endif %}">

{% if page.url contains '/guides/' %}
    <section class="side-nav__dropdown">
        <h6>Choose a guide</h6>
        <div class="picker">
            <button id="js-sidenav-dropdown-button">
                {% if page.url contains 'send-money' %}
                    Send money to your users
                {% elsif page.url contains 'receive-money' %}
                    Receive money from your users
                {% elsif page.url contains 'transfer-money-between-users' %}
                    Transfer money between users
                {% else %}
                    Send money to your users
                {% endif %}
            </button>
            <div class="icon icon-side-nav-collapse-plus"></div>
            <div class="icon icon-side-nav-collapse-minus"></div>
        </div>
        <nav id="js-sidenav-dropdown-nav">
            <a href="">Launch: Production</a>
            <a href="">Send money to your users</a>
            <a href="">Receive money from your users</a>
            <a href="">Transfer money between users</a>
            <a href="">Webhooks</a>
        </nav>
    </section>
{% endif %}

{% if page.url contains '/resources/' %}
    <section>
        <h6>Tools</h6>
        <ul>
            <li><a href="/resources/sandbox.html" {%if page.url contains '/sandbox.html'%}class="active"{%endif%}>Sandbox</a></li>
            <li><a href="">Token generator</a></li>
            <li><a href="">Change log</a></li>
            <li><a href="http://status.dwolla.com/" target="_blank" class="icon-sidenav-option">Status</a></li>
        </ul>
        <h6>Articles</h6>
        <ul>
        {% for item in site.pages %}
            {% if item.section == 'resources' and item.type == 'article' %}
              <li><a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </section>

{% endif %}
    <!-- <section class="side-nav__api-ver">
        <span>Api Versions:</span>
        <div>
            <a href="">V1</a>
            <a href="" class="active">V2</a>
        </div>
    </section>

    <section>
        <ul>
            <li>
                <a href="" class="active">Introduction</a>
                <ul>
                    <li><a href="#making_requests">Making Requests</a></li>
                    <li><a href="">Errors</a></li>
                </ul>
            </li>
            <li>
                <a href="">OAuth</a>
                <ul>
                    <li><a href="#making_requests">Making Requests</a></li>
                    <li><a href="">Errors</a></li>
                </ul>
            </li>
            <li><a href="">Customers</a></li>
            <li><a href="">Documents</a></li>
            <li><a class="active" href="">Funding Sources</a></li>
            <li><a href="">Transfers</a></li>
        </ul>
    </section> 

    <section class="side-nav__options">
        <h6>Best practices</h6>
        <ul>
            <li><a href="" class="icon-sidenav-option">Get some help</a></li>
            <li><a href="" class="icon-sidenav-option">Sandbox Environment</a></li>
            <li><a href="" class="icon-sidenav-option">Documentation Powered by Slate</a></li>
        </ul>
    </section>

    -->
</nav>