@import "base";

body {
  font-family: "Open Sans";
}

h1 {
  font-family: "Roboto Slab", serif;
}

header {
  background-color: #ff7404;
  width: 100%;
  height: 100px;

  .wrap {
    width: 1024px;
    padding: 35px 0 80px 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 50%;
    margin-left: -512px;
  }

  .logo {
    width: 135px;
    height: 26px;
    display: inline-block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("/img/logo-dwolla.svg");
    float: left;
  }

  nav {
    float: right;
    transition: height 0.8s;

    a {
      margin-right: 30px;
      text-decoration: none;
      opacity: 0.5;
      font-weight: 600;
    }

    a:last-child {
      margin: 0;
    }

    a.btn {
      opacity: 1;
    }
  }
}

.navigation {
  width: 100%;
  height: 100px;
  background-color: lightgray;

  .wrap {
    width: 1024px;
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 50%;
    margin-left: -512px;
  }

  .super-sections {
    padding-top: 40px;
    transition: height 0.8s;
    float: right;

    a {
      margin-right: 100px;
      text-decoration: none;
      opacity: 0.5;
      font-weight: 600;
    }

    a:last-child {
      margin: 0;
    }

    a.btn {
      opacity: 1;
    }
}
}

.content {
  
}

.reference-list-item {
  margin-bottom: 20px;

  a.item-title {
    font-weight: 600;
  }

  p.item-description {
    
  }
}

.page {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

iframe#iframe_slate {
  width: 100%;
  height: 600px;
}